.text{
    text-align: center;
    background-color: rgb(81, 197, 197);
}
.bg{
    text-align: center;
    background-color: rgb(34, 53, 15);
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}